In [6]:
# import library
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [47]:
# Request to website and download HTML contents
url='https://www.elpreciodeltabaco.com/'
req=requests.get(url)
content = BeautifulSoup(req.content, 'html.parser')

In [52]:
categories = content.find_all('ul', {"id" : re.compile('letra.*')})

ans=[]
for category in categories:
    ans.extend(category.find_all('li', class_=None))

ans1 = ans[:-4]
name = []
href=[]
for item in ans1:
    name.append(item.find('div', class_="Nombre").text)
    href.append(item.find('a', class_=None).get("href"))

df = pd.DataFrame({'Name':name, 'HREF':href})
df

                        Name                                HREF
0         1,69 Black Edition       /marca/827/1,69_Black_Edition
1          1,69 Blue Edition        /marca/828/1,69_Blue_Edition
2           1,69 Doble Black         /marca/829/1,69_Doble_Black
3         1,69 Green Edition       /marca/830/1,69_Green_Edition
4           1,69 Red Edition         /marca/831/1,69_Red_Edition
..                       ...                                 ...
659  York International Blue  /marca/523/York_International_Blue
660   York International Red   /marca/524/York_International_Red
661       Yuma Organic Cream       /marca/447/Yuma_Organic_Cream
662     Yuma Organic de Luxe     /marca/488/Yuma_Organic_de_Luxe
663         Yuma Organic Red         /marca/448/Yuma_Organic_Red

[664 rows x 2 columns]

In [70]:
#Create an empty dataframe with dates between 01/01/2013 and 01/01/2023 (the price data for all brands lie somewhere in this range)
#This dataframe will be used to store prices of all brands
date_range = pd.date_range('01/01/2013','01/01/2023', freq='d')
all_price_data = pd.DataFrame({'Date':date_range})

In [69]:
#This will iterate through all urls we found on the website homepage
for i in df['HREF']:
    name = df[df['HREF']==i]['Name'].item()#Get the name of the tobacco brand
    
    url = 'https://www.elpreciodeltabaco.com'+i
    req=requests.get(url)
    content = BeautifulSoup(req.content, 'html.parser')
    
    table = content.find_all('div', class_='DatosTabaco')#This finds the table on each web page containing prices and dates

    date = [] #Store dates and prices in these lists
    price = []
    #Now iterate through each row of the table and find the div objects containing date and price
    for item in table[1:]:
        date.append(item.find('div', class_="Fecha").text)
        price.append(item.find('div', class_="Precio").text[:-1])#[-1] removes '€' sign
    
    #Make a df with a datetime column and a price column with the title of the tobacco brand
    brand_data = pd.DataFrame({name:price, 'Date':date})
    brand_data['Date'] = pd.to_datetime(brand_data['Date'], dayfirst=True)
    
    #Add column to all_price_data dataframe for prices of current brand
    all_price_data = pd.merge(all_price_data, brand_data, on='Date', how='left')

           Date 1,69 Black Edition
0    2013-01-01                NaN
1    2013-01-02                NaN
2    2013-01-03                NaN
3    2013-01-04                NaN
4    2013-01-05                NaN
...         ...                ...
3648 2022-12-28                NaN
3649 2022-12-29                NaN
3650 2022-12-30                NaN
3651 2022-12-31                NaN
3652 2023-01-01                NaN

[3653 rows x 2 columns]

In [37]:
name = 'Benson & Hedges American Red 100'
df1 = pd.DataFrame({name:price1, 'Date':date1})
df1['Date'] = pd.to_datetime(df1['Date'], dayfirst=True)

In [31]:
date_range = pd.date_range('01/01/2013','01/01/2023', freq='d')
df2 = pd.DataFrame({'Date':date_range})

In [43]:
bob = pd.merge(df2, df1, on='Date', how='left')

In [44]:
bob

           Date Benson & Hedges American Red 100
0    2013-01-01                              NaN
1    2013-01-02                              NaN
2    2013-01-03                              NaN
3    2013-01-04                              NaN
4    2013-01-05                              NaN
...         ...                              ...
3648 2022-12-28                              NaN
3649 2022-12-29                              NaN
3650 2022-12-30                              NaN
3651 2022-12-31                              NaN
3652 2023-01-01                              NaN

[3653 rows x 2 columns]

ul > Li > Div Class DatosTabaco > Div Class Fecha and Div Class Precio